@model WPFSample_UI.Models.VMclsListado

@{
	Layout = null;
}
@{List<WPFSample_Ent.clsPersona> listado = Model.lista.getListadoPersonaBL();
	
	}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.lista.getListadoPersonaBL().ElementAt(0).nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lista.getListadoPersonaBL().ElementAt(0).apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lista.getListadoPersonaBL().ElementAt(0).fechaNac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lista.getListadoPersonaBL().ElementAt(0).direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lista.getListadoPersonaBL().ElementAt(0).telefono)
            </th>
            <th></th>
        </tr>
    
    @for (var i=0;i<Model.cantidad;i++) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => listado.ElementAt(i).nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => listado.ElementAt(i).apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => listado.ElementAt(i).fechaNac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => listado.ElementAt(i).direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => listado.ElementAt(i).telefono)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=listado.ElementAt(i).id }) |
                @Html.ActionLink("Details", "Details", new { id= listado.ElementAt(i).id }) |
                @Html.ActionLink("Delete", "Delete", new { id= listado.ElementAt(i).id })
            </td>
        </tr>
    }
    
    </table>

	<p>Numero de personas: @Model.cantidad </p> 
</body>
</html>
